# Composer
/vendor
auth.json
.phpactor.json

# Environment
.env
.env.backup
.env.production

# Storage Laravel
/storage/*.key
/storage/pail
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

# Public assets generados
/public/build
/public/hot
/public/storage

# IDE helpers Laravel
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Testing
.phpunit.result.cache
/.phpunit.cache

# Homestead
Homestead.json
Homestead.yaml

# Logs
*.log

# IDE folders (a nivel api)
/.fleet
/.idea
/.nova
/.vscode
/.zed
